# API Backend URL
VITE_API_URL=https://qlhs-dtnt.vercel.app/api

# Supabase Auth & Services
VITE_SUPABASE_URL=https://czngbleeeiljsrpbaksg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_sBExv35CS4s7lgOgQgIzJg_WMAd4E14
